<%- include ('./includes/head.ejs') %>

    <div class="container text-center">

        <h1 class="alert alert-danger">صفحه مورد نظر پیدا نشد</h1>
        <h1 class=" fa fa-gittip" style="color: red; font-size: 100px;"></h1>

    </div>

    <div class="btn-group-md text-center mt-4">

       <a href="/"> <button class="btn btn-group-toggle btn-outline-primary"><span class="fa fa-level-up"></span> بازگشت به صفحه اصلی</button></a>

    </div>

    </body>

    </html>